/* styles for @media print */
@media print {
  .container {
    width: auto;
  }
}
/* basic bootstrap reset */
/* disable scroll padding right on modal and put modal on other elements upper*/
.modal-open {
  padding-right: 0 !important;
}

.modal {
  z-index: 999;
  padding-right: 0 !important;
}

/* disable default bootstrap form input box shadow on focus */
.form-control:focus {
  box-shadow: none !important;
}

.container {
  padding: 0 !important;
}

.form-group {
  margin: 0 !important;
}

label {
  margin-bottom: 0;
}

/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */
/* Account for fixed navbar */
body {
  min-width: 980px;
}

/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}

.page-header .lead {
  margin-bottom: 10px;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */
/* Reset the container */
.container {
  width: 980px;
  max-width: none !important;
}

/* disable navbar margins */
.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}

.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/*
* Browserhappy
*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
* basic reset
*/
* {
  outline: none !important;
}

html, body {
  padding: 0;
  background: #fff;
}

._sup {
  color: #e40880;
  font-size: 62%;
}

.test_overlay {
  position: absolute;
  z-index: 999;
  opacity: .3;
  top: 0;
  left: 50%;
  margin-left: -1285px
  /* 2570/2=1285 */
}

._medium {
  font-weight: 800 !important;
  color: #000 !important;
}

/* Project styles */
/*
* header
*/
.header {
  overflow: hidden;
  position: relative;
  padding-top: 87px;
  height: 1515px;
  background-color: #f6f9fa;
}
.header .container {
  position: relative;
}
.header_logo {
  margin-bottom: 111px;
}
.header_phone {
  position: absolute;
  right: -3px;
  top: -3px;
}
.header_phone__numbers {
  color: #000;
  font-family: "Proba Pro Regular";
  font-size: 31px;
  line-height: 31px;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: -.2px;
}
.header_phone__text {
  color: #000;
  font-family: "Proba Pro ExtraLight";
  font-size: 19px;
  line-height: 19px;
  font-weight: 200;
  display: inline-block;
  padding-bottom: 6px;
  border-bottom: 1px solid #dde0e1;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  left: 4px;
  top: 2px;
}
.header_phone__text:hover {
  color: #07a2d6;
  border-bottom-color: #07a2d6;
}
.header_largedescription {
  color: #000;
  font-family: "Cinta Extralight";
  font-size: 75px;
  line-height: 70px;
  font-weight: 200;
  margin-bottom: 11px;
}
.header_smalldescription {
  color: #000;
  font-family: "Proba Pro ExtraLight";
  font-size: 30px;
  line-height: 37px;
  font-weight: 200;
  margin-bottom: 46px;
}
.header_divider_1 {
  width: 562px;
  height: 1px;
  background: #dde0e1;
  margin-bottom: 28px;
}
.header_price_lagre {
  color: #000;
  font-family: "Proba Pro Thin";
  font-size: 123px;
  line-height: 123px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 6px;
  position: relative;
  left: -5px;
}
.header_price_small {
  color: #000;
  font-family: "Proba Pro ExtraLight";
  font-size: 25px;
  line-height: 25px;
  font-weight: 200;
  margin-bottom: 51px;
  margin-left: 3px;
  letter-spacing: 0.19px;
}
.header_usagespheres {
  position: relative;
  width: 435px;
  height: 185px;
  margin-bottom: 59px;
}
.header_usagespheres__item {
  width: 215px;
}
.header_usagespheres__item___number {
  color: #07A2D6;
  font-family: "Proba Pro Thin";
  font-size: 82px;
  line-height: 82px;
  font-weight: 100;
  text-transform: uppercase;
  float: left;
  margin-right: 26px;
}
.header_usagespheres__item___number._2 {
  margin-right: 21px;
}
.header_usagespheres__item___number._3 {
  margin-right: 29px;
}
.header_usagespheres__item___text {
  color: #000;
  font-family: "Proba Pro Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  top: 10px;
}
.header_usagespheres__item._1 {
  position: absolute;
  left: -6px;
  top: 4px;
}
.header_usagespheres__item._2 {
  position: absolute;
  left: 226px;
  top: 2px;
}
.header_usagespheres__item._3 {
  position: absolute;
  left: 12px;
  top: 110px;
}
.header_usagespheres__item._4 {
  position: absolute;
  left: 240px;
  top: 111px;
}
.header_takeconsultation {
  position: relative;
  width: 397px;
  height: 90px;
  background-color: #97BF0F;
  border-radius: 50px;
  margin-bottom: 97px;
  cursor: pointer;
}
.header_takeconsultation:hover {
  background-color: #8aae0e;
}
.header_takeconsultation:active {
  background-color: #76950c;
}
.header_takeconsultation__icon {
  position: absolute;
  left: 31px;
  top: 29px;
  width: 39px;
  height: 39px;
  background-image: url("/img/fig5.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.header_takeconsultation__text {
  color: #FFF !important;
  font-family: "Proba Pro Medium";
  font-size: 26px;
  font-weight: 500;
  line-height: 90px;
  margin-left: 92px;
}
.header_divider_2 {
  width: 562px;
  height: 1px;
  background: #dde0e1;
  margin-bottom: 29px;
}
.header_jointdevelopment {
  position: relative;
  width: 500px;
  height: 219px;
}
.header_jointdevelopment__title {
  color: #000;
  font-family: "Proba Pro Regular";
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.header_jointdevelopment__company___img {
  margin-bottom: 20px;
}
.header_jointdevelopment__company___text {
  color: #000;
  font-family: "Proba Pro ExtraLight";
  font-size: 15px;
  line-height: 22px;
  font-weight: 200;
  letter-spacing: 0.01em;
}
.header_jointdevelopment__company._2 {
  position: absolute;
  left: 113px;
  top: 48px;
}
.header_jointdevelopment__description {
  position: absolute;
  left: 251px;
  top: 48px;
  color: #000;
  font-family: "Proba Pro ExtraLight";
  font-size: 16px;
  line-height: 25px;
  font-weight: 200;
  letter-spacing: 0.005em;
}
.header_jointdevelopment__description___middle {
  margin-top: 9px;
}
.header_productimg {
  position: absolute;
  bottom: -6px;
  right: -148px;
}

/*
* sign_demonstration
*/
.sign_demonstration {
  overflow: hidden;
  padding-top: 150px;
  position: relative;
  height: 1477px;
}
.sign_demonstration .container {
  position: relative;
}
.sign_demonstration_title {
  font-family: "Cinta Extralight";
  font-size: 55px;
  line-height: 57px;
  font-weight: 200;
  color: #000;
  margin-left: -41px;
}
.sign_demonstration_whatyouget {
  margin-top: 52px;
}
.sign_demonstration_whatyouget__title {
  font-family: "Proba Pro Light";
  font-size: 26px;
  line-height: 26px;
  font-weight: 300;
  color: #000;
  margin-left: -39px;
  margin-bottom: 36px;
}
.sign_demonstration_whatyouget__item {
  margin-bottom: 36px;
  margin-left: -24px;
}
.sign_demonstration_whatyouget__item:last-child {
  margin-bottom: 50px;
}
.sign_demonstration_whatyouget__item___img {
  float: left;
  margin-right: 30px;
}
.sign_demonstration_whatyouget__item___img._3 {
  position: relative;
  top: 7px;
}
.sign_demonstration_whatyouget__item___img._4 {
  position: relative;
  top: 21px;
}
.sign_demonstration_whatyouget__item___img._5 {
  position: relative;
  top: 24px;
}
.sign_demonstration_whatyouget__item___text {
  color: #000;
  font-family: "Proba Pro ExtraLight";
  font-size: 20px;
  line-height: 20px;
  font-weight: 200;
  letter-spacing: 0.005em;
}
.sign_demonstration_whatyouget__item___text._2 {
  position: relative;
  top: 5px;
  right: 2px;
}
.sign_demonstration_whatyouget__item___text._3 {
  position: relative;
  top: 12px;
  right: 1px;
}
.sign_demonstration_whatyouget__item___text._4 {
  position: relative;
  top: 18px;
  right: 1px;
}
.sign_demonstration_whatyouget__item___text._5 {
  position: relative;
  top: 24px;
  right: 4px;
}
.sign_demonstration_form {
  width: 439px;
  height: 715px;
  background-color: #EBF1F3;
  background-color: rgba(235, 241, 243, 0.9);
  margin-left: -40px;
  margin-top: 75px;
  position: relative;
  z-index: 10;
}
.sign_demonstration_form__title {
  color: #000;
  font-family: "Proba Pro Regular";
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 16px;
  padding-top: 37px;
  margin-left: 38px;
  letter-spacing: 0.005em;
}
.sign_demonstration_form__texttop {
  color: #000;
  font-family: "Proba Pro ExtraLight";
  font-size: 18px;
  line-height: 22px;
  font-weight: 200;
  margin-left: 39px;
  letter-spacing: -0.001em;
}
.sign_demonstration_form__textbottom {
  color: #68685E;
  font-family: "Proba Pro ExtraLight";
  font-size: 15px;
  line-height: 22px;
  font-weight: 200;
  margin-top: 22px;
  margin-left: 46px;
}
.sign_demonstration_form form {
  width: 357px;
  margin-left: 40px;
  margin-top: 34px;
}
.sign_demonstration_form form label {
  color: #000;
  font-family: "Proba Pro Regular";
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.01em;
}
.sign_demonstration_form form input {
  height: 60px;
  background-color: #FFF;
  border-radius: 0;
  border: 0;
  margin-top: 16px;
  margin-bottom: 14px;
  padding: 22px;
  color: #B8C4C8;
  font-family: "Proba Pro ExtraLight";
  font-size: 22px;
  font-weight: 200;
  line-height: 20px;
}
.sign_demonstration_form_btn {
  width: 356px;
  height: 90px;
  background-color: #97BF0F;
  border-radius: 50px;
  color: #FFF !important;
  font-family: "Proba Pro Medium";
  font-size: 32px;
  line-height: 90px;
  font-weight: 500;
  margin-top: 8px;
  padding: 0;
}
.sign_demonstration_form_btn:hover {
  background-color: #8aae0e;
}
.sign_demonstration_form_btn:active {
  background-color: #76950c;
}
.sign_demonstration_girlonbg {
  position: absolute;
  bottom: -65px;
  right: -177px;
  z-index: 1;
}

/*
* read_reviews
*/
.read_reviews {
  height: 680px;
}
.read_reviews_title {
  padding-top: 152px;
  text-align: center;
  font-family: "Cinta Extralight";
  font-size: 55px;
  line-height: 57px;
  font-weight: 200;
  color: #000;
}
.read_reviews_slider {
  height: auto;
}
.read_reviews_slider__item {
  text-align: center;
}
.read_reviews_slider__item___title {
  color: #07A2D6;
  font-family: "Proba Pro Light";
  font-size: 34px;
  line-height: 28px;
  font-weight: 300;
  padding-top: 71px;
  position: relative;
  left: -1px;
}
.read_reviews_slider__item___position {
  color: #838383;
  font-family: "Proba Pro ExtraLight";
  font-size: 24px;
  line-height: 28px;
  font-weight: 200;
  padding-top: 15px;
  position: relative;
  left: -2px;
}
.read_reviews_slider__item___text {
  color: #000;
  font-family: "Proba Pro ExtraLight";
  font-size: 22px;
  line-height: 30px;
  font-weight: 200;
  padding-top: 25px;
  letter-spacing: -0.005em;
}
.read_reviews .carousel-control.left {
  opacity: 1;
  width: 22px;
  height: 70px;
  background-image: url("/img/fig20.png");
  background-repeat: no-repeat;
  top: 48.4%;
  left: -3px;
}
.read_reviews .carousel-control.left:hover {
  background-image: url("/img/fig22.png");
}
.read_reviews .carousel-control.right {
  opacity: 1;
  width: 22px;
  height: 70px;
  background-image: url("/img/fig21.png");
  background-repeat: no-repeat;
  top: 48.4%;
  right: 2px;
}
.read_reviews .carousel-control.right:hover {
  background-image: url("/img/fig23.png");
}
.read_reviews .carousel-indicators {
  bottom: -67px !important;
}
.read_reviews .carousel-indicators li {
  width: 9px;
  height: 9px;
  border: 1px solid #02A7DF;
  margin-right: 2px;
}
.read_reviews .carousel-indicators .active {
  width: 10px;
  height: 10px;
  background-color: #02A7DF;
}

/*
* advantages
*/
.advantages {
  height: 725px;
  background-color: #f6f9fa;
  position: relative;
  overflow: hidden;
}
.advantages .container {
  position: relative;
}
.advantages_title {
  padding-top: 152px;
  text-align: center;
  font-family: "Cinta Extralight";
  font-size: 55px;
  line-height: 57px;
  font-weight: 200;
  color: #000;
  position: relative;
  left: 30px;
}
.advantages_text {
  text-align: center;
  font-family: "Proba Pro ExtraLight";
  font-size: 25px;
  line-height: 35px;
  font-weight: 200;
  color: #000;
  padding-top: 48px;
  letter-spacing: .1px;
}
.advantages_item {
  width: 210px;
  height: 210px;
}
.advantages_item__img {
  margin-bottom: 30px;
}
.advantages_item__text {
  color: #000;
  font-family: "Proba Pro Medium";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.advantages_item._1 {
  position: absolute;
  top: 366px;
  left: 0px;
}
.advantages_item._2 {
  position: absolute;
  top: 366px;
  left: 249px;
}
.advantages_item._3 {
  position: absolute;
  top: 366px;
  right: 271px;
}
.advantages_item._4 {
  position: absolute;
  top: 366px;
  right: 20px;
}

/*
* map
*/
.map {
  height: 600px;
  overflow: hidden;
  position: relative;
}
.map_contacts {
  padding-top: 10px;
  text-align: center;
  margin: 0 auto;
  width: 290px;
  height: 311px;
  margin-bottom: -311px;
  background-image: url("/img/fig18.png");
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  left: 3px;
  z-index: 999;
}
.map_contacts__title {
  color: #FFF;
  font-family: "Proba Pro Medium";
  font-size: 24px;
  line-height: 69px;
  font-weight: 500;
  position: relative;
  left: -3px;
}
.map_contacts__address {
  color: #FFF;
  font-family: "Proba Pro ExtraLight";
  font-size: 20px;
  line-height: 25px;
  font-weight: 200;
}
.map_contacts__phone {
  color: #FFF;
  font-family: "Proba Pro Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 10px;
  position: relative;
  left: -2px;
}
.map_contacts__phone___title {
  color: #FFF;
  font-family: "Proba Pro ExtraLight";
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.14em;
  font-weight: 200;
  text-transform: uppercase;
}
.map_contacts__mail {
  color: #FFF;
  font-family: "Proba Pro Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  padding-top: 9px;
  position: relative;
  left: -5px;
}
.map_contacts__mail___title {
  color: #FFF;
  font-family: "Proba Pro ExtraLight";
  line-height: 25px;
  letter-spacing: 0.14em;
  font-weight: 200;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */